/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
    width: 0;
  }
  .single-thumb .range-slider__range {
    border-radius: 6px;
  }
.square-thumb .range-slider__thumb[data-lower]{
    width: 0;
}
.square-thumb {
    &.range-slider .range-slider__thumb {
      border-radius:5px !important;

  }
}